<div class="container">
  <div class="row">
    <div class="col-9 px-0 mt-3">
      <h2>特徴追加</h2>
      <%= form_with model: @feature, url: admin_features_path, method: :post do |f| %>
        <table>
          <tr>
            <th>カテゴリ</th>
            <td>
              <%= f.select :category, Feature.categories.keys.map {|k| [I18n.t("enums.feature.category.#{k}"), k]} %>
            </td>
          </tr>
          <tr>
            <th>特徴名</th>
            <td>
              <%= f.text_field :name %>
            </td>
          </tr>
        </table>
        <%= f.submit '追加' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-9 px-0 mt-3">
      <h2>カテゴリ・特徴一覧</h2>
      <h3>■浴場情報</h3>
      <div class="md-2">
        <%= Feature.categories_i18n[:bath_facilities] %><br>
        <% @bath_facilities.each.with_index(1) do |feature, index| %>
          <% if index % 4 == 1 %>
            <ul class="row features-list">
          <% end %>
              <li class="col-3 d-flex justify-content-between">
                <span class="fontsize-14"><%= feature.name %>&emsp;</span>
                <%= button_to "削除", admin_feature_path(feature.id), method: :delete, data: { confirm: '削除を実行しますか？'}, class: "btn btn-danger btn-sm" %>
              </li>
          <% if index % 4 == 0 %>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-9 px-0 mt-3">
      <div class="md-2">
        <%= Feature.categories_i18n[:sauna] %><br>
        <% @sauna.each.with_index(1) do |feature, index| %>
          <% if index % 4 == 1 %>
            <ul class="row features-list">
          <% end %>
              <li class="col-3 d-flex justify-content-between">
                <span class="fontsize-14"><%= feature.name %>&emsp;</span>
                <%= button_to "削除", admin_feature_path(feature.id), method: :delete, data: { confirm: '削除を実行しますか？'}, class: "btn btn-danger btn-sm" %>
              </li>
          <% if index % 4 == 0 %>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-9 px-0 mt-3">
      <h3>■施設情報</h3>
      <div class="md-2">
        <%= Feature.categories_i18n[:other] %><br>
        <% @other.each.with_index(1) do |feature, index| %>
          <% if index % 4 == 1 %>
            <ul class="row features-list">
          <% end %>
              <li class="col-3 d-flex justify-content-between">
                <span class="fontsize-14"><%= feature.name %>&emsp;</span>
                <%= button_to "削除", admin_feature_path(feature.id), method: :delete, data: { confirm: '削除を実行しますか？'}, class: "btn btn-danger btn-sm" %>
              </li>
          <% if index % 4 == 0 %>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-9 px-0 mt-3">
      <div class="md-2">
        <%= Feature.categories_i18n[:building_facilities] %><br>
        <% @building_facilities.each.with_index(1) do |feature, index| %>
          <% if index % 4 == 1 %>
            <ul class="row features-list">
          <% end %>
              <li class="col-3 d-flex justify-content-between">
                <span class="fontsize-14"><%= feature.name %>&emsp;</span>
                <%= button_to "削除", admin_feature_path(feature.id), method: :delete, data: { confirm: '削除を実行しますか？'}, class: "btn btn-danger btn-sm" %>
              </li>
          <% if index % 4 == 0 %>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>