<p id="notice"></p>
<div class="container" id="bathhouse_<%= params[:id] %>">
  <div class="row mb-3">
    <div class="col-1"></div>
    <div class="col-5 px-0">
      <h5 class="m-0 text-secondary font-weight-bold"><%= Prefecture.find(@bathhouse.prefecture_id).name + @bathhouse.address_city %></h5>
      <h1 class="m-0 font-weight-bold mb-2"><%= @bathhouse.name %></h1>
      <div class="d-flex">
        <h4 class="m-0 font-weight-bold">平均満足度：</h4>
        <div id="satisfaction_ave_<%= @bathhouse.id %>"></div>
        <h4 class="m-0 font-weight-bold">
          &nbsp;<%= @review_satisfaction.average(:satisfaction).to_f.round(1) %>
          /
          <%= @review_satisfaction.count %>件
        </h4>
      </div>
    </div>
    <div class="col-5 px-0">
      <div class="text-right">
        <%= button_to "編集する", edit_bathhouse_path, method: :get, class: "btn btn-outline-dark btn-sm mb-2" %>
        <%= button_to "投稿する", review_new_bathhouse_path, method: :get, class: "btn btn-primary px-5 font-weight-bold mb-2" %>
        <%= button_to "お気に入りに登録", review_new_bathhouse_path, method: :get, class: "btn btn-success px-3 font-weight-bold mb-2" %>
      </div>
    </div>
    <div class="col-1"></div>
    <ul class="row bathhouse-list font-weight-bold justify-content-center w-100 mx-auto mb-3 px-0">
      <li class="fontsize-24 mx-5"><%= link_to "施設情報", bathhouse_path(@bathhouse.id), class: "link-none" %></li>
      <li class="bathhouse-border fontsize-24 mx-5">みんなの投稿</li>
      <li class="fontsize-24 mx-5"><%= link_to "混雑情報", congestion_situation_bathhouse_path(@bathhouse.id), class: "link-none" %></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 px-0 my-3">
      <h3 class="font-weight-bold mb-1">■みんなの投稿</h3>
      <div id="review_<%= @review[:id] %>">
        <div class="border border-dark">
          <div class="d-flex">
            <%= link_to user_path(@review.user_id), class: "link-none" do %>
              <% if @review.user.user_image.attached? %>
                <div class="user-img-back m-1">
                  <%= image_tag @review.user.user_image, class: "user-img" %>
                </div>
              <% else %>
                <div class="user-img-back m-1">
                  <%= image_tag 'onsen_images.png', class: "user-img" %>
                </div>
              <% end %>
              <div class="mt-3">
                <div class="font-weight-bold">
                  <%= @review.user.name %>
                </div>
            <% end %>
              <div class="text-secondary">
                <%= @review.visiting_date %>
              </div>
            </div>
            <div class="ml-auto mr-2 mt-2 d-flex">
              <% if @review.satisfaction.to_i > 0 %>
                <span>満足度：</span>
                <div id="satisfaction_<%= @review.id %>"></div>
              <% end %>
            </div>
          </div>
          <div class="mb-3">
            <div class="font-weight-bold ml-5">
              <%= @review.bathhouse.name %>
            </div>
            <div class="ml-5">
              <%= safe_join(@review.body.split("\n"),tag(:br)) %>
            </div>
          </div>
          <div class="text-center">
            <% if @review.image.attached? %>
              <%= image_tag @review.image, class: "review-show-img" %>
            <% end %>
          </div>
          <% if @review.user_id == current_user.id %>
            <div class="text-right">
              <%= link_to "削除する", review_path(params[:id]), method: :delete, class: "mr-2 text-danger", data: { confirm: '投稿を削除しますか？' } %>
            </div>
          <% end %>
        </div>
        <% @comments.each do |comment| %>
          <div class="border border-dark">
            <div class="d-flex">
              <%= link_to user_path(comment.user_id), class: "link-none" do %>
                <% if comment.user.user_image.attached? %>
                  <div class="user-img-back m-1">
                    <%= image_tag comment.user.user_image, class: "user-img" %>
                  </div>
                <% else %>
                  <div class="user-img-back m-1">
                    <%= image_tag 'onsen_images.png', class: "user-img" %>
                  </div>
                <% end %>
                <div class="mt-3">
                  <div class="font-weight-bold">
                    <%= comment.user.name %>
                  </div>
              <% end %>
                <div class="text-secondary">
                  <%= comment.created_at.strftime('%Y-%m-%d') %>
                </div>
              </div>
            </div>
            <div class="mb-3 ml-5">
              <%= safe_join(comment.body.split("\n"),tag(:br)) %>
            </div>
            <% if comment.user_id == current_user.id %>
              <div class="text-right">
                <%= link_to "削除する", comment_path(comment.id), method: :delete, class: "mr-2 text-danger", data: { confirm: 'コメントを削除しますか？' } %>
              </div>
            <% end %>
          </div>
        <% end %>
        <%= form_with model: @comment, url: comments_path, method: :post do |f| %>
          <label class="mt-4">コメントを投稿する</label>
          <%= f.text_area :body, class: "form-control comment-area mb-3" %>
          <div class="text-center mb-3">
            <%= f.hidden_field :review_id, value: @review.id %>
            <%= f.submit 'コメントを投稿' ,class: 'btn btn-success' %>
          </div>
        <% end %>
        <div class="text-center mb-3">
          <%= button_to "施設情報に戻る", reviews_index_bathhouse_path(@bathhouse.id), method: :get, class: "btn btn-outline-dark mb-2" %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).on('turbolinks:load', function() {
if ($('#review_<%= @review[:id] %>').length) {
   <% if @review.satisfaction.to_i > 0 %>
    let raty_<%= @review.id %> = document.querySelector('#satisfaction_<%= @review.id %>');
    //var elem = document.getElementById(('satisfaction_<%= @review.id %>')
    $("#satisfaction_<%= @review.id %>").empty();
    //satisfaction_<%= @review.id %>.innerHTML = ""
    let option_<%= @review.id %> = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        score: "<%= @review.satisfaction %>",
        readOnly: true,
      };
    raty(raty_<%= @review.id %> ,option_<%= @review.id %>);
  <% end %>
}
});
</script>

<script>
$(document).on('turbolinks:load', function() {
  if ($('#bathhouse_<%= params[:id] %>').length) {
    console.log('test!');
    let raty_<%= @bathhouse.id %> = document.querySelector('#satisfaction_ave_<%= @bathhouse.id %>');
    $("#satisfaction_ave_<%= @bathhouse.id %>").empty();
    //satisfaction_<%= @bathhouse.id %>.innerHTML = "";
    let option_<%= @bathhouse.id %> = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: "<%= @review_satisfaction.average(:satisfaction).to_f.round(1) %>",
        half: true,
        readOnly: true,
      };
    raty(raty_<%= @bathhouse.id %> ,option_<%= @bathhouse.id %>);
}
});
</script>