<p id="notice"></p>
<div class="container" id="bathhouse_<%= params[:id] %>">
  <div class="row mb-3">
    <div class="col-1"></div>
    <div class="col-5 px-0">
      <h5 class="m-0 text-secondary font-weight-bold"><%= Prefecture.find(@bathhouse.prefecture_id).name + @bathhouse.address_city %></h5>
      <h1 class="m-0 font-weight-bold mb-2"><%= @bathhouse.name %></h1>
      <div class="d-flex">
        <h4 class="m-0 font-weight-bold">平均満足度：</h4>
        <div id="satisfaction_ave_<%= @bathhouse.id %>"></div>
        <h4 class="m-0 font-weight-bold">
          &nbsp;<%= @review_satisfaction.average(:satisfaction).to_f.round(1) %>
          /
          <%= @review_satisfaction.count %>件
        </h4>
      </div>
      <div class="m-0 font-weight-bold mt-1">
        お気に入り登録数：<%= @bathhouse.favourite_bathhouses.count %>
      </div>
    </div>
    <div class="col-5 px-0">
      <div class="text-right">
        <%= button_to "編集する", edit_bathhouse_path, method: :get, class: "btn btn-outline-dark btn-sm mb-2" %>
        <%= button_to "投稿する", review_new_bathhouse_path, method: :get, class: "btn btn-primary px-5 font-weight-bold mb-2" %>
        <div id="favourite_bathhouse_buttons_<%= @bathhouse.id %>">
          <%= render "public/favourite_bathhouses/favourite_bathhouses", bathhouse: @bathhouse %>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
    <ul class="row bathhouse-list font-weight-bold justify-content-center w-100 mx-auto mb-3 px-0">
      <li class="fontsize-24 mx-5"><%= link_to "施設情報", bathhouse_path(params[:id]), class: "link-none" %></li>
      <li class="fontsize-24 mx-5"><%= link_to "みんなの投稿", reviews_index_bathhouse_path(params[:id]), class: "link-none" %></li>
      <li class="bathhouse-border fontsize-24 mx-5">混雑情報</li>
    </ul>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 px-0 my-3">
      <h3 class="font-weight-bold mb-1">■混雑傾向</h3>
      <div class="row">
        <div class="col-12">
          <h5 class="bathhouse-gender">■平日</h5>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <button type="button" class="btn btn-outline-primary btn-congestion" data-toggle="collapse" href="#collapse_weekday_man">男湯</button>
                </h4>
              </div>
              <div id="collapse_weekday_man" class="panel-collapse collapse">
                <%= render 'congestion_weekday_man',
                  congestion_06to08_empty: @congestion_weekday_man_06to08_empty,
                  congestion_06to08_normal: @congestion_weekday_man_06to08_normal,
                  congestion_06to08_crowded: @congestion_weekday_man_06to08_crowded,
                  congestion_06to08_very_crowded: @congestion_weekday_man_06to08_very_crowded,
                  congestion_08to10_empty: @congestion_weekday_man_08to10_empty,
                  congestion_08to10_normal: @congestion_weekday_man_08to10_normal,
                  congestion_08to10_crowded: @congestion_weekday_man_08to10_crowded,
                  congestion_08to10_very_crowded: @congestion_weekday_man_08to10_very_crowded,
                  congestion_10to12_empty: @congestion_weekday_man_10to12_empty,
                  congestion_10to12_normal: @congestion_weekday_man_10to12_normal,
                  congestion_10to12_crowded: @congestion_weekday_man_10to12_crowded,
                  congestion_10to12_very_crowded: @congestion_weekday_man_10to12_very_crowded,
                  congestion_12to14_empty: @congestion_weekday_man_12to14_empty,
                  congestion_12to14_normal: @congestion_weekday_man_12to14_normal,
                  congestion_12to14_crowded: @congestion_weekday_man_12to14_crowded,
                  congestion_12to14_very_crowded: @congestion_weekday_man_12to14_very_crowded,
                  congestion_14to16_empty: @congestion_weekday_man_14to16_empty,
                  congestion_14to16_normal: @congestion_weekday_man_14to16_normal,
                  congestion_14to16_crowded: @congestion_weekday_man_14to16_crowded,
                  congestion_14to16_very_crowded: @congestion_weekday_man_14to16_very_crowded,
                  congestion_16to18_empty: @congestion_weekday_man_16to18_empty,
                  congestion_16to18_normal: @congestion_weekday_man_16to18_normal,
                  congestion_16to18_crowded: @congestion_weekday_man_16to18_crowded,
                  congestion_16to18_very_crowded: @congestion_weekday_man_16to18_very_crowded,
                  congestion_18to20_empty: @congestion_weekday_man_18to20_empty,
                  congestion_18to20_normal: @congestion_weekday_man_18to20_normal,
                  congestion_18to20_crowded: @congestion_weekday_man_18to20_crowded,
                  congestion_18to20_very_crowded: @congestion_weekday_man_18to20_very_crowded,
                  congestion_20to22_empty: @congestion_weekday_man_20to22_empty,
                  congestion_20to22_normal: @congestion_weekday_man_20to22_normal,
                  congestion_20to22_crowded: @congestion_weekday_man_20to22_crowded,
                  congestion_20to22_very_crowded: @congestion_weekday_man_20to22_very_crowded,
                  congestion_22to24_empty: @congestion_weekday_man_22to24_empty,
                  congestion_22to24_normal: @congestion_weekday_man_22to24_normal,
                  congestion_22to24_crowded: @congestion_weekday_man_22to24_crowded,
                  congestion_22to24_very_crowded: @congestion_weekday_man_22to24_very_crowded,
                  congestion_00to02_empty: @congestion_weekday_man_00to02_empty,
                  congestion_00to02_normal: @congestion_weekday_man_00to02_normal,
                  congestion_00to02_crowded: @congestion_weekday_man_00to02_crowded,
                  congestion_00to02_very_crowded: @congestion_weekday_man_00to02_very_crowded,
                  congestion_02to04_empty: @congestion_weekday_man_02to04_empty,
                  congestion_02to04_normal: @congestion_weekday_man_02to04_normal,
                  congestion_02to04_crowded: @congestion_weekday_man_02to04_crowded,
                  congestion_02to04_very_crowded: @congestion_weekday_man_02to04_very_crowded,
                  congestion_04to06_empty: @congestion_weekday_man_04to06_empty,
                  congestion_04to06_normal: @congestion_weekday_man_04to06_normal,
                  congestion_04to06_crowded: @congestion_weekday_man_04to06_crowded,
                  congestion_04to06_very_crowded: @congestion_weekday_man_04to06_very_crowded
                %>
              </div>
            </div>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <button type="button" class="btn btn-outline-danger btn-congestion" data-toggle="collapse" href="#collapse_weekday_woman">女湯</button>
                </h4>
              </div>
              <div id="collapse_weekday_woman" class="panel-collapse collapse">
                <%= render 'congestion_weekday_woman',
                  congestion_06to08_empty: @congestion_weekday_woman_06to08_empty,
                  congestion_06to08_normal: @congestion_weekday_woman_06to08_normal,
                  congestion_06to08_crowded: @congestion_weekday_woman_06to08_crowded,
                  congestion_06to08_very_crowded: @congestion_weekday_woman_06to08_very_crowded,
                  congestion_08to10_empty: @congestion_weekday_woman_08to10_empty,
                  congestion_08to10_normal: @congestion_weekday_woman_08to10_normal,
                  congestion_08to10_crowded: @congestion_weekday_woman_08to10_crowded,
                  congestion_08to10_very_crowded: @congestion_weekday_woman_08to10_very_crowded,
                  congestion_10to12_empty: @congestion_weekday_woman_10to12_empty,
                  congestion_10to12_normal: @congestion_weekday_woman_10to12_normal,
                  congestion_10to12_crowded: @congestion_weekday_woman_10to12_crowded,
                  congestion_10to12_very_crowded: @congestion_weekday_woman_10to12_very_crowded,
                  congestion_12to14_empty: @congestion_weekday_woman_12to14_empty,
                  congestion_12to14_normal: @congestion_weekday_woman_12to14_normal,
                  congestion_12to14_crowded: @congestion_weekday_woman_12to14_crowded,
                  congestion_12to14_very_crowded: @congestion_weekday_woman_12to14_very_crowded,
                  congestion_14to16_empty: @congestion_weekday_woman_14to16_empty,
                  congestion_14to16_normal: @congestion_weekday_woman_14to16_normal,
                  congestion_14to16_crowded: @congestion_weekday_woman_14to16_crowded,
                  congestion_14to16_very_crowded: @congestion_weekday_woman_14to16_very_crowded,
                  congestion_16to18_empty: @congestion_weekday_woman_16to18_empty,
                  congestion_16to18_normal: @congestion_weekday_woman_16to18_normal,
                  congestion_16to18_crowded: @congestion_weekday_woman_16to18_crowded,
                  congestion_16to18_very_crowded: @congestion_weekday_woman_16to18_very_crowded,
                  congestion_18to20_empty: @congestion_weekday_woman_18to20_empty,
                  congestion_18to20_normal: @congestion_weekday_woman_18to20_normal,
                  congestion_18to20_crowded: @congestion_weekday_woman_18to20_crowded,
                  congestion_18to20_very_crowded: @congestion_weekday_woman_18to20_very_crowded,
                  congestion_20to22_empty: @congestion_weekday_woman_20to22_empty,
                  congestion_20to22_normal: @congestion_weekday_woman_20to22_normal,
                  congestion_20to22_crowded: @congestion_weekday_woman_20to22_crowded,
                  congestion_20to22_very_crowded: @congestion_weekday_woman_20to22_very_crowded,
                  congestion_22to24_empty: @congestion_weekday_woman_22to24_empty,
                  congestion_22to24_normal: @congestion_weekday_woman_22to24_normal,
                  congestion_22to24_crowded: @congestion_weekday_woman_22to24_crowded,
                  congestion_22to24_very_crowded: @congestion_weekday_woman_22to24_very_crowded,
                  congestion_00to02_empty: @congestion_weekday_woman_00to02_empty,
                  congestion_00to02_normal: @congestion_weekday_woman_00to02_normal,
                  congestion_00to02_crowded: @congestion_weekday_woman_00to02_crowded,
                  congestion_00to02_very_crowded: @congestion_weekday_woman_00to02_very_crowded,
                  congestion_02to04_empty: @congestion_weekday_woman_02to04_empty,
                  congestion_02to04_normal: @congestion_weekday_woman_02to04_normal,
                  congestion_02to04_crowded: @congestion_weekday_woman_02to04_crowded,
                  congestion_02to04_very_crowded: @congestion_weekday_woman_02to04_very_crowded,
                  congestion_04to06_empty: @congestion_weekday_woman_04to06_empty,
                  congestion_04to06_normal: @congestion_weekday_woman_04to06_normal,
                  congestion_04to06_crowded: @congestion_weekday_woman_04to06_crowded,
                  congestion_04to06_very_crowded: @congestion_weekday_woman_04to06_very_crowded
                %>
              </div>
            </div>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <button type="button" class="btn btn-outline-success btn-congestion" data-toggle="collapse" href="#collapse_weekday_rest_area">休憩スペース</button>
                </h4>
              </div>
              <div id="collapse_weekday_rest_area" class="panel-collapse collapse">
                <%= render 'congestion_weekday_rest_area',
                  congestion_06to08_empty: @congestion_weekday_rest_area_06to08_empty,
                  congestion_06to08_normal: @congestion_weekday_rest_area_06to08_normal,
                  congestion_06to08_crowded: @congestion_weekday_rest_area_06to08_crowded,
                  congestion_06to08_very_crowded: @congestion_weekday_rest_area_06to08_very_crowded,
                  congestion_08to10_empty: @congestion_weekday_rest_area_08to10_empty,
                  congestion_08to10_normal: @congestion_weekday_rest_area_08to10_normal,
                  congestion_08to10_crowded: @congestion_weekday_rest_area_08to10_crowded,
                  congestion_08to10_very_crowded: @congestion_weekday_rest_area_08to10_very_crowded,
                  congestion_10to12_empty: @congestion_weekday_rest_area_10to12_empty,
                  congestion_10to12_normal: @congestion_weekday_rest_area_10to12_normal,
                  congestion_10to12_crowded: @congestion_weekday_rest_area_10to12_crowded,
                  congestion_10to12_very_crowded: @congestion_weekday_rest_area_10to12_very_crowded,
                  congestion_12to14_empty: @congestion_weekday_rest_area_12to14_empty,
                  congestion_12to14_normal: @congestion_weekday_rest_area_12to14_normal,
                  congestion_12to14_crowded: @congestion_weekday_rest_area_12to14_crowded,
                  congestion_12to14_very_crowded: @congestion_weekday_rest_area_12to14_very_crowded,
                  congestion_14to16_empty: @congestion_weekday_rest_area_14to16_empty,
                  congestion_14to16_normal: @congestion_weekday_rest_area_14to16_normal,
                  congestion_14to16_crowded: @congestion_weekday_rest_area_14to16_crowded,
                  congestion_14to16_very_crowded: @congestion_weekday_rest_area_14to16_very_crowded,
                  congestion_16to18_empty: @congestion_weekday_rest_area_16to18_empty,
                  congestion_16to18_normal: @congestion_weekday_rest_area_16to18_normal,
                  congestion_16to18_crowded: @congestion_weekday_rest_area_16to18_crowded,
                  congestion_16to18_very_crowded: @congestion_weekday_rest_area_16to18_very_crowded,
                  congestion_18to20_empty: @congestion_weekday_rest_area_18to20_empty,
                  congestion_18to20_normal: @congestion_weekday_rest_area_18to20_normal,
                  congestion_18to20_crowded: @congestion_weekday_rest_area_18to20_crowded,
                  congestion_18to20_very_crowded: @congestion_weekday_rest_area_18to20_very_crowded,
                  congestion_20to22_empty: @congestion_weekday_rest_area_20to22_empty,
                  congestion_20to22_normal: @congestion_weekday_rest_area_20to22_normal,
                  congestion_20to22_crowded: @congestion_weekday_rest_area_20to22_crowded,
                  congestion_20to22_very_crowded: @congestion_weekday_rest_area_20to22_very_crowded,
                  congestion_22to24_empty: @congestion_weekday_rest_area_22to24_empty,
                  congestion_22to24_normal: @congestion_weekday_rest_area_22to24_normal,
                  congestion_22to24_crowded: @congestion_weekday_rest_area_22to24_crowded,
                  congestion_22to24_very_crowded: @congestion_weekday_rest_area_22to24_very_crowded,
                  congestion_00to02_empty: @congestion_weekday_rest_area_00to02_empty,
                  congestion_00to02_normal: @congestion_weekday_rest_area_00to02_normal,
                  congestion_00to02_crowded: @congestion_weekday_rest_area_00to02_crowded,
                  congestion_00to02_very_crowded: @congestion_weekday_rest_area_00to02_very_crowded,
                  congestion_02to04_empty: @congestion_weekday_rest_area_02to04_empty,
                  congestion_02to04_normal: @congestion_weekday_rest_area_02to04_normal,
                  congestion_02to04_crowded: @congestion_weekday_rest_area_02to04_crowded,
                  congestion_02to04_very_crowded: @congestion_weekday_rest_area_02to04_very_crowded,
                  congestion_04to06_empty: @congestion_weekday_rest_area_04to06_empty,
                  congestion_04to06_normal: @congestion_weekday_rest_area_04to06_normal,
                  congestion_04to06_crowded: @congestion_weekday_rest_area_04to06_crowded,
                  congestion_04to06_very_crowded: @congestion_weekday_rest_area_04to06_very_crowded
                %>
              </div>
            </div>
          </div>
          <h5 class="bathhouse-gender mt-3">■休日（土日）</h5>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <button type="button" class="btn btn-outline-primary btn-congestion" data-toggle="collapse" href="#collapse_weekend_man">男湯</button>
                </h4>
              </div>
              <div id="collapse_weekend_man" class="panel-collapse collapse">
                <%= render 'congestion_weekend_man',
                  congestion_06to08_empty: @congestion_weekend_man_06to08_empty,
                  congestion_06to08_normal: @congestion_weekend_man_06to08_normal,
                  congestion_06to08_crowded: @congestion_weekend_man_06to08_crowded,
                  congestion_06to08_very_crowded: @congestion_weekend_man_06to08_very_crowded,
                  congestion_08to10_empty: @congestion_weekend_man_08to10_empty,
                  congestion_08to10_normal: @congestion_weekend_man_08to10_normal,
                  congestion_08to10_crowded: @congestion_weekend_man_08to10_crowded,
                  congestion_08to10_very_crowded: @congestion_weekend_man_08to10_very_crowded,
                  congestion_10to12_empty: @congestion_weekend_man_10to12_empty,
                  congestion_10to12_normal: @congestion_weekend_man_10to12_normal,
                  congestion_10to12_crowded: @congestion_weekend_man_10to12_crowded,
                  congestion_10to12_very_crowded: @congestion_weekend_man_10to12_very_crowded,
                  congestion_12to14_empty: @congestion_weekend_man_12to14_empty,
                  congestion_12to14_normal: @congestion_weekend_man_12to14_normal,
                  congestion_12to14_crowded: @congestion_weekend_man_12to14_crowded,
                  congestion_12to14_very_crowded: @congestion_weekend_man_12to14_very_crowded,
                  congestion_14to16_empty: @congestion_weekend_man_14to16_empty,
                  congestion_14to16_normal: @congestion_weekend_man_14to16_normal,
                  congestion_14to16_crowded: @congestion_weekend_man_14to16_crowded,
                  congestion_14to16_very_crowded: @congestion_weekend_man_14to16_very_crowded,
                  congestion_16to18_empty: @congestion_weekend_man_16to18_empty,
                  congestion_16to18_normal: @congestion_weekend_man_16to18_normal,
                  congestion_16to18_crowded: @congestion_weekend_man_16to18_crowded,
                  congestion_16to18_very_crowded: @congestion_weekend_man_16to18_very_crowded,
                  congestion_18to20_empty: @congestion_weekend_man_18to20_empty,
                  congestion_18to20_normal: @congestion_weekend_man_18to20_normal,
                  congestion_18to20_crowded: @congestion_weekend_man_18to20_crowded,
                  congestion_18to20_very_crowded: @congestion_weekend_man_18to20_very_crowded,
                  congestion_20to22_empty: @congestion_weekend_man_20to22_empty,
                  congestion_20to22_normal: @congestion_weekend_man_20to22_normal,
                  congestion_20to22_crowded: @congestion_weekend_man_20to22_crowded,
                  congestion_20to22_very_crowded: @congestion_weekend_man_20to22_very_crowded,
                  congestion_22to24_empty: @congestion_weekend_man_22to24_empty,
                  congestion_22to24_normal: @congestion_weekend_man_22to24_normal,
                  congestion_22to24_crowded: @congestion_weekend_man_22to24_crowded,
                  congestion_22to24_very_crowded: @congestion_weekend_man_22to24_very_crowded,
                  congestion_00to02_empty: @congestion_weekend_man_00to02_empty,
                  congestion_00to02_normal: @congestion_weekend_man_00to02_normal,
                  congestion_00to02_crowded: @congestion_weekend_man_00to02_crowded,
                  congestion_00to02_very_crowded: @congestion_weekend_man_00to02_very_crowded,
                  congestion_02to04_empty: @congestion_weekend_man_02to04_empty,
                  congestion_02to04_normal: @congestion_weekend_man_02to04_normal,
                  congestion_02to04_crowded: @congestion_weekend_man_02to04_crowded,
                  congestion_02to04_very_crowded: @congestion_weekend_man_02to04_very_crowded,
                  congestion_04to06_empty: @congestion_weekend_man_04to06_empty,
                  congestion_04to06_normal: @congestion_weekend_man_04to06_normal,
                  congestion_04to06_crowded: @congestion_weekend_man_04to06_crowded,
                  congestion_04to06_very_crowded: @congestion_weekend_man_04to06_very_crowded
                %>
              </div>
            </div>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <button type="button" class="btn btn-outline-danger btn-congestion" data-toggle="collapse" href="#collapse_weekend_woman">女湯</button>
                </h4>
              </div>
              <div id="collapse_weekend_woman" class="panel-collapse collapse">
                <%= render 'congestion_weekend_woman',
                  congestion_06to08_empty: @congestion_weekend_woman_06to08_empty,
                  congestion_06to08_normal: @congestion_weekend_woman_06to08_normal,
                  congestion_06to08_crowded: @congestion_weekend_woman_06to08_crowded,
                  congestion_06to08_very_crowded: @congestion_weekend_woman_06to08_very_crowded,
                  congestion_08to10_empty: @congestion_weekend_woman_08to10_empty,
                  congestion_08to10_normal: @congestion_weekend_woman_08to10_normal,
                  congestion_08to10_crowded: @congestion_weekend_woman_08to10_crowded,
                  congestion_08to10_very_crowded: @congestion_weekend_woman_08to10_very_crowded,
                  congestion_10to12_empty: @congestion_weekend_woman_10to12_empty,
                  congestion_10to12_normal: @congestion_weekend_woman_10to12_normal,
                  congestion_10to12_crowded: @congestion_weekend_woman_10to12_crowded,
                  congestion_10to12_very_crowded: @congestion_weekend_woman_10to12_very_crowded,
                  congestion_12to14_empty: @congestion_weekend_woman_12to14_empty,
                  congestion_12to14_normal: @congestion_weekend_woman_12to14_normal,
                  congestion_12to14_crowded: @congestion_weekend_woman_12to14_crowded,
                  congestion_12to14_very_crowded: @congestion_weekend_woman_12to14_very_crowded,
                  congestion_14to16_empty: @congestion_weekend_woman_14to16_empty,
                  congestion_14to16_normal: @congestion_weekend_woman_14to16_normal,
                  congestion_14to16_crowded: @congestion_weekend_woman_14to16_crowded,
                  congestion_14to16_very_crowded: @congestion_weekend_woman_14to16_very_crowded,
                  congestion_16to18_empty: @congestion_weekend_woman_16to18_empty,
                  congestion_16to18_normal: @congestion_weekend_woman_16to18_normal,
                  congestion_16to18_crowded: @congestion_weekend_woman_16to18_crowded,
                  congestion_16to18_very_crowded: @congestion_weekend_woman_16to18_very_crowded,
                  congestion_18to20_empty: @congestion_weekend_woman_18to20_empty,
                  congestion_18to20_normal: @congestion_weekend_woman_18to20_normal,
                  congestion_18to20_crowded: @congestion_weekend_woman_18to20_crowded,
                  congestion_18to20_very_crowded: @congestion_weekend_woman_18to20_very_crowded,
                  congestion_20to22_empty: @congestion_weekend_woman_20to22_empty,
                  congestion_20to22_normal: @congestion_weekend_woman_20to22_normal,
                  congestion_20to22_crowded: @congestion_weekend_woman_20to22_crowded,
                  congestion_20to22_very_crowded: @congestion_weekend_woman_20to22_very_crowded,
                  congestion_22to24_empty: @congestion_weekend_woman_22to24_empty,
                  congestion_22to24_normal: @congestion_weekend_woman_22to24_normal,
                  congestion_22to24_crowded: @congestion_weekend_woman_22to24_crowded,
                  congestion_22to24_very_crowded: @congestion_weekend_woman_22to24_very_crowded,
                  congestion_00to02_empty: @congestion_weekend_woman_00to02_empty,
                  congestion_00to02_normal: @congestion_weekend_woman_00to02_normal,
                  congestion_00to02_crowded: @congestion_weekend_woman_00to02_crowded,
                  congestion_00to02_very_crowded: @congestion_weekend_woman_00to02_very_crowded,
                  congestion_02to04_empty: @congestion_weekend_woman_02to04_empty,
                  congestion_02to04_normal: @congestion_weekend_woman_02to04_normal,
                  congestion_02to04_crowded: @congestion_weekend_woman_02to04_crowded,
                  congestion_02to04_very_crowded: @congestion_weekend_woman_02to04_very_crowded,
                  congestion_04to06_empty: @congestion_weekend_woman_04to06_empty,
                  congestion_04to06_normal: @congestion_weekend_woman_04to06_normal,
                  congestion_04to06_crowded: @congestion_weekend_woman_04to06_crowded,
                  congestion_04to06_very_crowded: @congestion_weekend_woman_04to06_very_crowded
                %>
              </div>
            </div>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <button type="button" class="btn btn-outline-success btn-congestion" data-toggle="collapse" href="#collapse_weekend_rest_area">休憩スペース</button>
                </h4>
              </div>
              <div id="collapse_weekend_rest_area" class="panel-collapse collapse">
                <%= render 'congestion_weekend_rest_area',
                  congestion_06to08_empty: @congestion_weekend_rest_area_06to08_empty,
                  congestion_06to08_normal: @congestion_weekend_rest_area_06to08_normal,
                  congestion_06to08_crowded: @congestion_weekend_rest_area_06to08_crowded,
                  congestion_06to08_very_crowded: @congestion_weekend_rest_area_06to08_very_crowded,
                  congestion_08to10_empty: @congestion_weekend_rest_area_08to10_empty,
                  congestion_08to10_normal: @congestion_weekend_rest_area_08to10_normal,
                  congestion_08to10_crowded: @congestion_weekend_rest_area_08to10_crowded,
                  congestion_08to10_very_crowded: @congestion_weekend_rest_area_08to10_very_crowded,
                  congestion_10to12_empty: @congestion_weekend_rest_area_10to12_empty,
                  congestion_10to12_normal: @congestion_weekend_rest_area_10to12_normal,
                  congestion_10to12_crowded: @congestion_weekend_rest_area_10to12_crowded,
                  congestion_10to12_very_crowded: @congestion_weekend_rest_area_10to12_very_crowded,
                  congestion_12to14_empty: @congestion_weekend_rest_area_12to14_empty,
                  congestion_12to14_normal: @congestion_weekend_rest_area_12to14_normal,
                  congestion_12to14_crowded: @congestion_weekend_rest_area_12to14_crowded,
                  congestion_12to14_very_crowded: @congestion_weekend_rest_area_12to14_very_crowded,
                  congestion_14to16_empty: @congestion_weekend_rest_area_14to16_empty,
                  congestion_14to16_normal: @congestion_weekend_rest_area_14to16_normal,
                  congestion_14to16_crowded: @congestion_weekend_rest_area_14to16_crowded,
                  congestion_14to16_very_crowded: @congestion_weekend_rest_area_14to16_very_crowded,
                  congestion_16to18_empty: @congestion_weekend_rest_area_16to18_empty,
                  congestion_16to18_normal: @congestion_weekend_rest_area_16to18_normal,
                  congestion_16to18_crowded: @congestion_weekend_rest_area_16to18_crowded,
                  congestion_16to18_very_crowded: @congestion_weekend_rest_area_16to18_very_crowded,
                  congestion_18to20_empty: @congestion_weekend_rest_area_18to20_empty,
                  congestion_18to20_normal: @congestion_weekend_rest_area_18to20_normal,
                  congestion_18to20_crowded: @congestion_weekend_rest_area_18to20_crowded,
                  congestion_18to20_very_crowded: @congestion_weekend_rest_area_18to20_very_crowded,
                  congestion_20to22_empty: @congestion_weekend_rest_area_20to22_empty,
                  congestion_20to22_normal: @congestion_weekend_rest_area_20to22_normal,
                  congestion_20to22_crowded: @congestion_weekend_rest_area_20to22_crowded,
                  congestion_20to22_very_crowded: @congestion_weekend_rest_area_20to22_very_crowded,
                  congestion_22to24_empty: @congestion_weekend_rest_area_22to24_empty,
                  congestion_22to24_normal: @congestion_weekend_rest_area_22to24_normal,
                  congestion_22to24_crowded: @congestion_weekend_rest_area_22to24_crowded,
                  congestion_22to24_very_crowded: @congestion_weekend_rest_area_22to24_very_crowded,
                  congestion_00to02_empty: @congestion_weekend_rest_area_00to02_empty,
                  congestion_00to02_normal: @congestion_weekend_rest_area_00to02_normal,
                  congestion_00to02_crowded: @congestion_weekend_rest_area_00to02_crowded,
                  congestion_00to02_very_crowded: @congestion_weekend_rest_area_00to02_very_crowded,
                  congestion_02to04_empty: @congestion_weekend_rest_area_02to04_empty,
                  congestion_02to04_normal: @congestion_weekend_rest_area_02to04_normal,
                  congestion_02to04_crowded: @congestion_weekend_rest_area_02to04_crowded,
                  congestion_02to04_very_crowded: @congestion_weekend_rest_area_02to04_very_crowded,
                  congestion_04to06_empty: @congestion_weekend_rest_area_04to06_empty,
                  congestion_04to06_normal: @congestion_weekend_rest_area_04to06_normal,
                  congestion_04to06_crowded: @congestion_weekend_rest_area_04to06_crowded,
                  congestion_04to06_very_crowded: @congestion_weekend_rest_area_04to06_very_crowded
                %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).on('turbolinks:load', function() {
  if ($('#bathhouse_<%= params[:id] %>').length) {
    console.log('test!');
    let raty_<%= @bathhouse.id %> = document.querySelector('#satisfaction_ave_<%= @bathhouse.id %>');
    $("#satisfaction_ave_<%= @bathhouse.id %>").empty();
    //satisfaction_<%= @bathhouse.id %>.innerHTML = "";
    let option_<%= @bathhouse.id %> = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: "<%= @review_satisfaction.average(:satisfaction).to_f.round(1) %>",
        half: true,
        readOnly: true,
      };
    raty(raty_<%= @bathhouse.id %> ,option_<%= @bathhouse.id %>);
}
});
</script>