<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-10 px-0 my-3">
      <h2>施設編集確認</h2>
      <p class="">
        施設登録にご協力いただき誠にありがとうございます。<br>
        登録内容は登録後に本サイト会員であれば誰でも編集ができるようになります。<br>
        わからない箇所は空欄でも登録可能となりますので、<br>
        入力可能な箇所のみご入力いただきますよう、よろしくお願いいたします。<br>
      </p>
    </div>
  </div>
  <ul class="row bathhouse-list font-weight-bold justify-content-center border border-dark rounded-pill w-50 mx-auto mb-3 px-0">
    <li>施設情報編集</li>
    <li>→</li>
    <li>画像編集</li>
    <li>→</li>
    <li class="bathhouse-border">編集確認</li>
  </ul>
  <div class="row">
    <div class="col-10 px-0 my-3">
      <h3 class="font-weight-bold mb-3">■基本情報</h3>
      <div class="ml-4">
        <div class="d-flex">
          <h5 class="font-weight-bold">施設名</h5>
          <p class="bathhouse-null-false">※必須</p>
        </div>
        <p class="mb-3"><%= @bathhouse.name %></p>
        <div class="d-flex">
          <h5 class="font-weight-bold">都道府県</h5>
          <p class="bathhouse-null-false">※必須</p>
        </div>
        <p class="mb-3"><%= Prefecture.find(@bathhouse.prefecture_id).name %></p>
        <h5 class="font-weight-bold">郵便番号</h5>
        <p class="mb-3"><%= @bathhouse.postal_code %></p>
        <div class="d-flex">
          <h5 class="font-weight-bold">住所１</h5>
          <p class="bathhouse-null-false">※必須</p>
      </div>
      <p class="mb-3"><%= @bathhouse.address_city %></p>
      <div class="d-flex">
        <h5 class="font-weight-bold">住所２</h5>
        <p class="bathhouse-null-false">※必須</p>
      </div>
      <p class="mb-3"><%= @bathhouse.address_town %></p>
      <h5 class="font-weight-bold">住所３</h5>
      <p class="mb-3"><%= @bathhouse.address_building %></p>
      <h5 class="font-weight-bold">アクセス</h5>
      <p class="mb-3"><%= safe_join(@bathhouse.access.split("\n"),tag(:br)) %></p>
      <h5 class="font-weight-bold">駐車場情報</h5>
      <p class="mb-3"><%= safe_join(@bathhouse.parking_information.split("\n"),tag(:br)) %></p>
      <h5 class="font-weight-bold">TEL</h5>
      <p class="mb-3"><%= @bathhouse.telephone_number %></p>
      <h5 class="font-weight-bold">HP</h5>
      <p class="mb-3"><%= @bathhouse.homepage %></p>
      <h5 class="font-weight-bold">定休日</h5>
      <p class="mb-3"><%= safe_join(@bathhouse.regular_holiday.split("\n"),tag(:br)) %></p>
      <h5 class="font-weight-bold">営業時間</h5>
      <p class="mb-3"><%= safe_join(@bathhouse.opening_hours.split("\n"),tag(:br)) %></p>
      <h5 class="font-weight-bold">最低料金（大人）</h5>
      <p class="mb-3"><%= @bathhouse.minimum_fee %></p>
      <h5 class="font-weight-bold">料金詳細</h5>
      <p class="mb-3"><%= safe_join(@bathhouse.fee_detail.split("\n"),tag(:br)) %></p>
    </div>
    <h3 class="font-weight-bold mt-5 mb-3">■浴場情報</h3>
    <h5 class="border border-dark rounded-pill bathhouse-gender text-center">男湯</h5>
    <div class="row">
      <div class="col-10 px-0 mt-1 md-2 ml-4">
        <h5 class="font-weight-bold"><%= Feature.categories_i18n[:bath_facilities] %><br></h5>
        <% @gender_man_bath_facilities.each.with_index(1) do |feature, index| %>
          <% if index % 4 == 1 %>
            <ul class="row features-list">
          <% end %>
          <li class="col-3 d-flex justify-content-between">
            <span class="fontsize-14"><%= feature.name %>&emsp;</span>
          </li>
          <% if index % 4 == 0 %>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-10 px-0 mt-3 md-2 ml-4">
        <h5 class="font-weight-bold"><%= Feature.categories_i18n[:sauna] %><br></h5>
        <% @gender_man_sauna.each.with_index(1) do |feature, index| %>
          <% if index % 4 == 1 %>
            <ul class="row features-list">
          <% end %>
          <li class="col-3 d-flex justify-content-between">
            <span class="fontsize-14"><%= feature.name %>&emsp;</span>
          </li>
          <% if index % 4 == 0 %>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
    <h5 class="border border-dark rounded-pill bathhouse-gender text-center">女湯</h5>
    <div class="row">
      <div class="col-10 px-0 mt-1 md-2 ml-4">
        <h5 class="font-weight-bold"><%= Feature.categories_i18n[:bath_facilities] %><br></h5>
        <% @gender_woman_bath_facilities.each.with_index(1) do |feature, index| %>
          <% if index % 4 == 1 %>
            <ul class="row features-list">
          <% end %>
          <li class="col-3 d-flex justify-content-between">
            <span class="fontsize-14"><%= feature.name %>&emsp;</span>
          </li>
          <% if index % 4 == 0 %>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-10 px-0 mt-3 md-2 ml-4">
        <h5 class="font-weight-bold"><%= Feature.categories_i18n[:sauna] %><br></h5>
          <% @gender_woman_sauna.each.with_index(1) do |feature, index| %>
            <% if index % 4 == 1 %>
              <ul class="row features-list">
            <% end %>
            <li class="col-3 d-flex justify-content-between">
              <span class="fontsize-14"><%= feature.name %>&emsp;</span>
            </li>
            <% if index % 4 == 0 %>
              </ul>
            <% end %>
          <% end %>
        </div>
      </div>
    <h3 class="font-weight-bold mt-5 mb-3">■施設設備</h3>
    <div class="row">
      <div class="col-10 px-0 mt-1 md-2 ml-4">
        <h5 class="font-weight-bold"><%= Feature.categories_i18n[:other] %><br></h5>
        <% @other.each.with_index(1) do |feature, index| %>
          <% if index % 4 == 1 %>
            <ul class="row features-list">
          <% end %>
          <li class="col-3 d-flex justify-content-between">
            <span class="fontsize-14"><%= feature.name %>&emsp;</span>
          </li>
          <% if index % 4 == 0 %>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-10 px-0 mt-3 md-2 ml-4">
        <h5 class="font-weight-bold"><%= Feature.categories_i18n[:building_facilities] %><br></h5>
        <% @building_facilities.each.with_index(1) do |feature, index| %>
          <% if index % 4 == 1 %>
            <ul class="row features-list">
          <% end %>
          <li class="col-3 d-flex justify-content-between">
            <span class="fontsize-14"><%= feature.name %>&emsp;</span>
          </li>
          <% if index % 4 == 0 %>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-10 px-0 mt-3 md-2 ml-4">
        <div class="d-flex">
          <h5 class="font-weight-bold">施設詳細（特記事項）</h5>
          <p class="">（ローカルルール等）</p>
        </div>
        <p class="mb-3"><%= safe_join(@bathhouse.special_note.split("\n"),tag(:br)) %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 px-0 mt-3 md-2">
        <%= form_with model: @bathhouse, url: bathhouse_path, method: :patch, local: true do |f| %>
          <div class="col-12 px-0 my-3 d-flex justify-content-between">
            <div class="col-4">
              <div class="form-group">
                <label class="text-secondary">メイン画像</label><br>
                <% if @confirm.bathhouse_image_main.attached? %>
                  <%= image_tag @confirm.bathhouse_image_main, class: "new-img" %>
                  <%= f.hidden_field :bathhouse_image_main, value: @confirm.bathhouse_image_main.signed_id %>
                <% elsif @bathhouse.bathhouse_image_main.attached? %>
                  <%= image_tag @bathhouse.bathhouse_image_main, class: "new-img" %>
                  <%= f.hidden_field :bathhouse_image_main, value: @bathhouse.bathhouse_image_main.signed_id %>
                <% else %>
                  <%= image_tag 'no_image.png', class: "new-img" %>
                <% end %>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
              <label class="text-secondary">画像１</label><br>
                <% if @confirm.bathhouse_image_sub1.attached? %>
                  <%= image_tag @confirm.bathhouse_image_sub1, class: "new-img" %>
                  <%= f.hidden_field :bathhouse_image_sub1, value: @confirm.bathhouse_image_sub1.signed_id %>
                <% elsif @bathhouse.bathhouse_image_sub1.attached? %>
                  <%= image_tag @bathhouse.bathhouse_image_sub1, class: "new-img" %>
                  <%= f.hidden_field :bathhouse_image_sub1, value: @bathhouse.bathhouse_image_sub1.signed_id %>
                <% else %>
                  <%= image_tag 'no_image.png', class: "new-img" %>
                <% end %>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
              <label class="text-secondary">画像２</label><br>
                <% if @confirm.bathhouse_image_sub2.attached? %>
                  <%= image_tag @confirm.bathhouse_image_sub2, class: "new-img" %>
                  <%= f.hidden_field :bathhouse_image_sub2, value: @confirm.bathhouse_image_sub2.signed_id %>
                <% elsif @bathhouse.bathhouse_image_sub2.attached? %>
                  <%= image_tag @bathhouse.bathhouse_image_sub2, class: "new-img" %>
                  <%= f.hidden_field :bathhouse_image_sub2, value: @bathhouse.bathhouse_image_sub2.signed_id %>
                <% else %>
                  <%= image_tag 'no_image.png', class: "new-img" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-12 px-0 my-3 d-flex justify-content-between">
            <div class="col-4">
              <div class="form-group">
                <label class="text-secondary">画像３</label><br>
                <% if @confirm.bathhouse_image_sub3.attached? %>
                  <%= image_tag @confirm.bathhouse_image_sub3, class: "new-img" %>
                  <%= f.hidden_field :bathhouse_image_sub3, value: @confirm.bathhouse_image_sub3.signed_id %>
                <% elsif @bathhouse.bathhouse_image_sub3.attached? %>
                  <%= image_tag @bathhouse.bathhouse_image_sub3, class: "new-img" %>
                  <%= f.hidden_field :bathhouse_image_sub3, value: @bathhouse.bathhouse_image_sub3.signed_id %>
                <% else %>
                  <%= image_tag 'no_image.png', class: "new-img" %>
                <% end %>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label class="text-secondary">画像４</label><br>
                <% if @confirm.bathhouse_image_sub4.attached? %>
                  <%= image_tag @confirm.bathhouse_image_sub4, class: "new-img" %>
                  <%= f.hidden_field :bathhouse_image_sub4, value: @confirm.bathhouse_image_sub4.signed_id %>
                <% elsif @bathhouse.bathhouse_image_sub4.attached? %>
                  <%= image_tag @bathhouse.bathhouse_image_sub4, class: "new-img" %>
                  <%= f.hidden_field :bathhouse_image_sub4, value: @bathhouse.bathhouse_image_sub4.signed_id %>
                <% else %>
                  <%= image_tag 'no_image.png', class: "new-img" %>
                <% end %>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label class="text-secondary">画像５</label><br>
                <% if @confirm.bathhouse_image_sub5.attached? %>
                  <%= image_tag @confirm.bathhouse_image_sub5, class: "new-img" %>
                  <%= f.hidden_field :bathhouse_image_sub5, value: @confirm.bathhouse_image_sub5.signed_id %>
                <% elsif @bathhouse.bathhouse_image_sub5.attached? %>
                  <%= image_tag @bathhouse.bathhouse_image_sub5, class: "new-img" %>
                  <%= f.hidden_field :bathhouse_image_sub5, value: @bathhouse.bathhouse_image_sub5.signed_id %>
                <% else %>
                  <%= image_tag 'no_image.png', class: "new-img" %>
                <% end %>
              </div>
            </div>
          </div>
          <%= f.hidden_field :confirm_id, value: @confirm.id %>
          <%= f.hidden_field :prefecture_id, value: @bathhouse.prefecture_id %>
          <%= f.hidden_field :name, value: @bathhouse.name %>
          <%= f.hidden_field :postal_code, value: @bathhouse.postal_code %>
          <%= f.hidden_field :address_city, value: @bathhouse.address_city %>
          <%= f.hidden_field :address_town, value: @bathhouse.address_town %>
          <%= f.hidden_field :address_building, value: @bathhouse.address_building %>
          <%= f.hidden_field :access, value: @bathhouse.access %>
          <%= f.hidden_field :parking_information, value: @bathhouse.parking_information %>
          <%= f.hidden_field :telephone_number, value: @bathhouse.telephone_number %>
          <%= f.hidden_field :homepage, value: @bathhouse.homepage %>
          <%= f.hidden_field :regular_holiday, value: @bathhouse.regular_holiday %>
          <%= f.hidden_field :opening_hours, value: @bathhouse.opening_hours %>
          <%= f.hidden_field :minimum_fee, value: @bathhouse.minimum_fee %>
          <%= f.hidden_field :fee_detail, value: @bathhouse.fee_detail %>
          <%= f.hidden_field :special_note, value: @bathhouse.special_note %>

          <%= f.hidden_field :gender_man_feature_ids, value: @man_feature.pluck(:id) %>
          <%= f.hidden_field :gender_woman_feature_ids, value: @woman_feature.pluck(:id) %>
          <%= f.hidden_field :gender_be_common_feature_ids, value: @be_common.pluck(:id) %>
        </div>
      </div>
      <div class="text-center">
        <%= f.submit '変更を保存する' ,class: 'btn btn-success' %>
      </div>
      <% end %>
    </div>
  </div>
</div>