<p id="notice"></p>
<div class="container">
  <div class="row mb-3">
    <div class="col-12">
      <h1>施設を探す</h1>
      <%= search_form_for @q, url: bathhouses_path do |f| %>
        <div class="input-group">
          <%= f.search_field :name_or_address_city_or_address_town_or_address_building_or_access_cont, class: "form-control", placeholder: "施設名・キーワードから探す" %>
          <%= f.submit '検索', class: "btn btn-outline-success", id: "button-addon2" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-3">
    </div>
    <div class="col-9">
      <div class="d-flex">
        <div>
          <%= @results.count %>件中&emsp;<%= @results_page.count %>件を表示
        </div>
        <div class="ml-auto">
          並び順：
          <select class="ui fluid dropdown" onChange="location.href=value;">
            <option value="">default</option>
            <option value="<%= sort_by_sort_url(sort_url(@q, :updated_at), 'updated_at+desc') %>">新着順</option>
            <option value="">お気に入り件数順</option>
            <option value="">レビュー数順</option>
            <option value="">レビュー数（男性）順</option>
            <option value="">レビュー数（女性）順</option>
            <option value="<%= sort_by_sort_url(sort_url(@q, :minimum_fee), 'minimum_fee+desc') %>">料金高い順</option>
            <option value="<%= sort_by_sort_url(sort_url(@q, :minimum_fee), 'minimum_fee+asc') %>">料金低い順</option>
          </select>
        </div>
      </div>
      <div class="mb-3">
        <% @results_page.each do |bathhouse| %>
          <%= link_to bathhouse_path(bathhouse.id), class: "link-none text-dark text-decoration-none" do %>
            <div class="border border-dark">
              <div class="d-flex">
                <div class="bathhouse-index">
                  <% if bathhouse.bathhouse_image_main.attached? %>
                    <%= image_tag bathhouse.bathhouse_image_main, class: "bathhouse-index-img" %>
                  <% else %>
                    <%= image_tag 'no_image.png', class: "bathhouse-index-img" %>
                  <% end %>
                </div>
                <div>
                  <h4>
                    <%= bathhouse.name %>
                  </h4>
                  <%= bathhouse.address_city %>&nbsp;
                  <%= bathhouse.address_town %>
                  <% if bathhouse.address_building.present? %>
                    <%= bathhouse.address_building %>
                  <% end %>
                  <table class="fontsize-14">
                    <tr>
                      <th>■営業時間&nbsp;</th><td><%= bathhouse.opening_hours %></td>
                    </tr>
                    <tr>
                      <th>■定休日&nbsp;</th><td><%= bathhouse.regular_holiday %></td>
                    </tr>
                    <tr>
                      <th>■料金&nbsp;</th><td><%= bathhouse.minimum_fee %>円～</td>
                    </tr>
                    <tr>
                      <th>■お気に入り&nbsp;</th><td>n件</td>
                    </tr>
                  </table>
                  <div class="d-flex">
                    <% if bathhouse.reviews.where("satisfaction > ?", 0).average(:satisfaction).to_f.round(1) > 0 %>
                      <span>満足度：</span>
                      <div id="satisfaction_ave_<%= bathhouse.id %>"></div>
                      <div>
                        &nbsp;<%= bathhouse.reviews.where("satisfaction > ?", 0).average(:satisfaction).to_f.round(1) %>
                        点/
                        <%= bathhouse.reviews.where("satisfaction > ?", 0).count %>件
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= paginate @results_page, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>

<script>
$(document).on('turbolinks:load', function() {
  if ($('#bathhouse_<%= params[:page] %>').length) {
    console.log('test!');
    <% @results_page.each do |bathhouse| %>
      <% if bathhouse.reviews.where("satisfaction > ?", 0).average(:satisfaction).to_f.round(1) > 0 %>
        let raty_<%= bathhouse.id %> = document.querySelector('#satisfaction_ave_<%= bathhouse.id %>');
        //var elem = document.getElementById(('satisfaction_<%= bathhouse.id %>')
        $("#satisfaction_ave_<%= bathhouse.id %>").empty();
        //satisfaction_<%= bathhouse.id %>.innerHTML = "";
        let option_<%= bathhouse.id %> = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            score: "<%= bathhouse.reviews.where("satisfaction > ?", 0).average(:satisfaction).to_f.round(1) %>",
            half: true,
            readOnly: true,
          };
        raty(raty_<%= bathhouse.id %> ,option_<%= bathhouse.id %>);
      <% end %>
    <% end %>
}
});
</script>