<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-9 px-0 mt-3">
      <h2>ログイン</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table>
          <tr>
            <th>
              メールアドレス
            </th>
            <td>
              <div class="field">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", size: 60 %>
              </div>
            </td>
          </tr>
          <tr>
            <th>
              パスワード
            </th>
            <td>
              <div class="field">
                <%= f.password_field :password, autocomplete: "current-password", size: 60 %>
              </div>
            </td>
          </tr>
        </table>
        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-primary", style: "width: 189px;" %>
        </div>
      <% end %>
      <p class="m-3">アカウントをお持ちでない方は<%= link_to "こちら", new_user_registration_path %>から新規登録を行ってください</p>
      <p class="m-3">ゲストログインは<%= link_to 'こちら', users_guest_sign_in_path, method: :post %></p>
    </div>
  </div>
</div>